<p>this is in child component: {{childMessage}}</p>
<ol>
    <li *ngFor="let todo of todos">
        <p>{{todo.title}}</p>
        <button [disabled]="todo.completed"
                (click)="markAsDone(todo.id)"
        >
            {{todo.completed?'Done':'Mark as Complete'}}
        </button>
    </li>
</ol>

<!-- <div class="board">
    <div class="colums">
    <div class="column">
        <h3>Pending</h3>
        <div *ngFor="let task of pending" class="card">
            <p><strong>{{task.title}}</strong></p>
            <p>Assigned to: {{task.userName}}</p>
             <button (click)="markAsDone(task.id)">Mark as Complete</button>
        </div>
    </div>
    <div class="column">
        <h3>Completed</h3>
        <div *ngFor="let task of completed" class="card">
            <p><strong>{{task.title}}</strong></p>
            <p>Assigned to: {{task.userName}}</p>
            <button (click)="markAsDone(task.id)">Mark as Complete</button>
        </div>
    </div>

</div>
</div> -->
<ng-content></ng-content>